{% extends "events/main.html" %}

{% block content %}
{% include 'events/status.html' %}



<br>

<div class="col-md-auto">
  <h5 class="header">Events:</h5>
  <a class="btn btn-primary" href="{% url 'create_event' %}">Create Event</a>
  <hr>
  <div class="card card-body">
    
    <table class="table table-sm">
      <tr>
        <th></th>
        <th>Customer</th>
        <th>Location</th>
        <th>Status</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
      </tr>

      {% for event in events %}
      <tr>
        <td><a class="btn btn-sm btn-info" href="{% url 'event_detail' event.id %}">View</a></td>
        <td>{{event.name}}</td>
        <td>{{event.location}}</td>
        <td>{{event.status}}</td>
        <td style = "max-width:1000px">{{event.description}}</td>
        <td>{{event.date_start}}</td>
        <td>{{event.date_end}}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'update_event' event.id %}">Update</a></td>
      </tr>
      {% endfor %}

    </table>
  </div>
</div>


{% if events.has_other_pages %}
  <ul class="pagination">
    {% if events.has_previous %}
      <li><a class="btn btn-outline-info mb-4" href="?page=1">First</a></li>
      <li><a class="btn btn-outline-info mb-4" href="?page={{ events.previous_page_number }}">Previous</a></li>
    {% endif %}

    {% for num in events.paginator.page_range %}
      {% if events.number == num %}
        <li><a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a></li>
      {% elif num > events.number|add:'-3' and num < events.number|add:'3' %}
        <li><a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if events.has_next %}
      <li><a class="btn btn-outline-info mb-4" href="?page={{ events.next_page_number }}">Next</a></li>
      <li><a class="btn btn-outline-info mb-4" href="?page={{ events.paginator.num_pages }}">Last</a></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}


